.column {
  box-sizing: border-box;
}

.column__wrapper {
  padding: 16px 0;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
